tests/auto/corelib/serialization/qxmlstream/XML-Test-Suite/xmlconf/ibm/valid/P49/ibm49v01.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT a EMPTY>
<!ELEMENT b (#PCDATA|c)* >
<!ELEMENT c ANY>

<!--* PE replace Text have both parentheses *-->
<!ENTITY % choice1 "(a|b|c)">
<!ELEMENT child1 (a ,%choice1;,c )>
<!--* Another legal PE replace Text *--> 
<!ENTITY % choice2 "a|b">
<!ELEMENT child2 (%choice2;|c) >


