tests/auto/corelib/serialization/qxmlstream/XML-Test-Suite/xmlconf/ibm/valid/P50/ibm50v01.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT a EMPTY>
<!ELEMENT b (#PCDATA|c)* >
<!ELEMENT c ANY>

<!--* PE replace Text have both parentheses *-->
<!ENTITY % seq1 "(a,b,c)">
<!ELEMENT child1 %seq1; >
<!--* Another legal PE replace Text *--> 
<!ENTITY % seq2 "a,b">
<!ELEMENT child2 (%seq2;,c) >


